*{
    margin: 0;
    padding: 0;
}
.container{
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    
}
.quadrado{
   
    background-color: blue;
    position: relative;
    width: 200px;
    height: 200px;
    animation-name: giro;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-delay:unset;
    
}
@keyframes giro{
    0%{rotate: 0deg; background-color: rgb(49, 106, 230)}
    25%{rotate: 90deg; background-color: aqua}
    50%{rotate: 180deg; background-color: greenyellow}
    75%{rotate: 270deg; background-color: yellow}
    100%{rotate: 360deg; background-color: palevioletred}
}
header a{
    color:goldenrod;
    text-decoration: none;
    padding-left: 20px ;
}
header{
    background-color: grey;
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    width: 100vw;
    height: 100px;

}
