*{
    margin: 0;
    padding: 0; 
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    
}
.circulo{
   
    background-color: blue;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.circulo:hover{
    background-color: aquamarine;
    width: 250px;
    height: 250px;
}
header a{
    color:goldenrod;
    text-decoration: none;
    padding-left: 20px ;
}
header{
    background-color: grey;
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    width: 100vw;
    height: 100px;

}
